<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
</head>
<body>
<h1>Information</h1>
<table>
    <tr>
        <td>login</td><td>{{info.get('NICKNAME')}}</td>
    </tr>
    <tr>
    <td>LECTION NAME </td><td>{{info.get('LECTION_NAME')}}</td>
    </tr>
    <tr>
   <td>RESOURCE NAME</td><td>{{info.get('RESOURCE_NAME')}}</td>
    </tr>
    <tr>
    <td>INFORMATION LINK</td><td>{{info.get('INFORMATION_LINK')}}</td>
    </tr>
    <tr>
    <td>DATE</td><td>{{info.get('DATE')}}</td>
    </tr>
</table>

    <h1>USER</h1>
<table>
    <tr>
        <td>login</td><td>{{user.get('login')}}</td>
    </tr>
    <tr>
    <td>LECTION NAME </td><td>{{user.get('PASS')}}</td>
    </tr>
    <tr>
   <td>RESOURCE NAME</td><td>{{user.get('NICKNAME')}}</td>
    </tr>
    <tr>
    <td>INFORMATION LINK</td><td>{{user.get('first_name')}}</td>
    </tr>
    <tr>
    <td>DATE</td><td>{{user.get('FACULTY_NAME')}}</td>
    </tr>
    <tr>
    <td>DATE</td><td>{{user.get('COURSE_NUMBER')}}</td>
    </tr>
</table>

</body>
</html>