<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
<form action = "/api" method = "POST" id="form_info">
    <p>login <input type = "text" name = "NICK" value="{{info.get('NICKNAME')}}"/></p>
    <p>pass <input type = "text" name = "LECTION" value="{{info.get('LECTION_NAME')}}" /></p>
    <p>nickname <input type = "text" name = "RESOURCE" value="{{info.get('RESOURCE_NAME')}}" /></p>
    <p>name <input type = "text" name = "INFORMATION" value="{{info.get('INFORMATION_LINK')}}" /></p>
    <p>Faculty name <input type = "text" name = "DATE" value="{{info.get('DATE')}}" /></p>
</form>

    <button type="submit" form="form_info" name="action" value="info_update">Submit</button>
</body>
</html>